<!-- Section Advantages -->
<div class="container">
    <h1 class="page-title">Advantages</h1>

    <ul class="card-set">
      <li class="item">
        <div class="card">
          <svg class="icon" width="62" height="62">
            <use href="./images/icons.svg#icon1"></use>
          </svg>

          <!-- <img src="./images/icons1.svg" alt="" /> -->

          <div class="card-content">
            <h2 class="card-heading">Unsurpassed taste</h2>
            <p class="card-text">
              Crafted with the finest quality cocoa beans and a dedication to
              perfection, each bite is a decadent experience that simply
              cannot be matched. Savor the richness and complexity of our
              Unsurpassed Taste and discover a new level of chocolate bliss.
            </p>
          </div>
        </div>
      </li>

      <li class="item">
        <div class="card">
          <svg class="icon" width="62" height="62">
            <use href="./images/icons.svg#icon2"></use>
          </svg>
          <div class="card-content">
            <h2 class="card-heading">Affordable price</h2>
            <p class="card-text">
              Indulge in high-quality chocolate without breaking the bank with
              Simply Chocolate's selection of affordable treats. Enjoy
              mouth-watering truffles and velvety chocolate bars without
              sacrificing taste or quality. Browse our selection and indulge
              in affordable luxury today.
            </p>
          </div>
        </div>
      </li>

      <li class="item">
        <div class="card">
          <svg class="icon" width="62" height="62">
            <use href="./images/icons.svg#icon3"></use>
          </svg>
          <div class="card-content">
            <h2 class="card-heading">Own production</h2>
            <p class="card-text">
              We take pride in our own production process, ensuring that every
              step is carefully crafted to perfection. From selecting the
              finest ingredients to handcrafting each piece, our attention to
              detail is evident in every bite.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
