<header>
    <div class="header-container">
        <a href="../index.html" class="link-header">
            <span class="link-header-span">Simply</span> Chocolate
            <svg class="link-header-svg">
                <use href="../img/symbol-defs.svg#icon-chocolate"></use>
            </svg>
        </a>
        <nav>
            <ul class="list-nav">
                <li class="list-nav-item">
                    <a href="#">Home</a>
                </li>
                <li class="list-nav-item">
                    <a href="#">How its made?</a>
                </li>
                <li class="list-nav-item"> 
                    <a href="#">Our products</a>
                </li>
                <li class="list-nav-item">
                    <a href="#">Top sellers</a>
                </li>
                <li class="list-nav-item">
                    <a href="#">Chocolate is loved</a>
                </li>
            </ul>
        </nav>
        <div>
            <ul class="list-social-links">
                <li class="list-social-links-item">
                    <svg class="social-links-svg">
                        <use href="../img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </li>
                <li class="list-social-links-item">
                    <svg  class="social-links-svg">
                        <use href="../img/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</header>