<header>
    <div class="header-container">
        <div class="container-link">
            <a href="../index.html" class="link-header"><span class="span-header">Simply</span> Chocolate</a>
            <svg class="svg-header">
                <use href="../img/symbol-defs.svg#icon-logo"></use>
            </svg>
        </div>
        <button class="header-button">
            <img srcset="../img/Iconmenu-header-btn.png 1x, ../img/Iconmenu-header-btn@2.png 2x" src="../img/Iconmenu-header-btn.png" alt="menu">
        </button>
    </div>
</header>