<div class="hero-container">
  <section class="hero">
    <h2 class="visually-hidden">Features</h2>
    <p class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </p>
    <div class="hero-flex-btn">
      <button class="hero-btn-modal" type="button">Buy now</button>
      <button class="hero-btn-how" type="button" id="#">How it’s made</button>

      <button class="hero-btn-footer" type="button" id="#">
        <span class="hero-text">scroll down</span>
        <div class="hero-icon-div">
          <svg class="hero-svg" height="16px" width="16px">
            <use href="../img/symbol-defs.svg#icon-scroll"></use>
          </svg>
        </div>
      </button>
    </div>
  </section>
</div>
