<section class="reviews">
    <div class="reviews-container container">
        <h1 class="reviews-title"><span class="first-title-part">chocolate</span> is loved</h1>
        <div class="reviews-wrap">
            <ul class="reviews-list list">
                <li class="review-card">
                    <div class="person-info">
                        <img class="person-img" src="./images/person1.png"
                            srcset="./images/person1.png 1x, ./images/person1-2x.png 2x" alt="person1" width="80"
                            height="80">
                        <p class="person-full-name">Victoria Dobrzhanska</p>
                    </div>
                    <p class="person-review">I love this chocolate bar. Perfect combination of light crispy
                        wafer,
                        covered
                        in a thin layer chocolate.</p>
                    <div class="review-background"></div>
                </li>
                <!-- <li class="review-card">
                    <div class="person-info">
                        <img class="person-img" src="./images/person2.png"
                            srcset="./images/person2.png 1x, ./images/person2-2x.png 2x" alt="person2" width="80"
                            height="80">
                        <p class="person-full-name">Nazar Babenko</p>
                    </div>
                    <p class="person-review">This chocolate confection is a delight! A delight! The wafer is
                        light and crisp, the hazelnut cream is smooth, and the
                        chocolate is good.</p>
                    <div class="review-background"></div>
                </li>
                <li class="review-card">
                    <div class="person-info">
                        <img class="person-img" src="./images/person3.png"
                            srcset="./images/person3.png 1x, ./images/person3-2x.png 2x" alt="person3" width="80"
                            height="80">
                        <p class="person-full-name">Olena Kampusch</p>
                    </div>
                    <p class="person-review">Chocolate is a family favourite treat. Love the delicious smooth chocolate
                        and the creaminess inside. The wafer is soft
                        but crunchy.</p>
                    <div class="review-background"></div>
                </li> -->
            </ul>
            <div class="banner"></div>
        </div>
        <button class="reviews-btn btn" type="button" data-modal-open="">Leave a review</button>
    </div>
</section>